/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "@fontsource/montserrat";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.swal2-popup {
  z-index: 9999 !important;
}

.p-dialog {
  z-index: 999; /* Ajusta este valor si es necesario */
}

/* Evita que se vean los slides laterales en el carrusel */
.swiper-container {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.chart-container {
  max-width: 600px;
  margin: 0 auto;
}

.swiper-slide {
  width: 100% !important;
}
